.task-card {
  padding: 15px;
  border-radius: 12px;
  background: #72717130;
  border: 1px solid rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  color: white;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.task-card.fading-out {
  opacity: 0;
  transform: translateX(50px);
}

.task-title.completed-text {
  text-decoration: line-through;
  color: rgba(255,255,255,0.6);
}

.priority-tag {
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.85em;
}

.completion-btn {
  margin-right: 10px;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.completion-btn.pending {
  background-color: #f0ad4e;
  color: white;
}

.completion-btn.completed {
  background-color: #5cb85c;
  color: white;
}

.delete-btn {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: red;
  color: white;
}
.task-card.overdue {
  border-color: red;
  background-color: rgba(255, 77, 77, 0.25);
}

.task-title.completed-text {
  color: rgba(255,255,255,0.6);
}
