.task-card {
  backdrop-filter: blur(12px);
  background: #72717130;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid rgba(255,255,255,0.15);
  transition: all 0.4s ease;
}

.task-title.completed-text {
  text-decoration: line-through;
  color: #ccc;
}

.priority-tag.high { background-color: #e74c3c; color: white; padding: 3px 8px; border-radius: 6px; }
.priority-tag.medium { background-color: #f1c40f; color: white; padding: 3px 8px; border-radius: 6px; }
.priority-tag.low { background-color: #2ecc71; color: white; padding: 3px 8px; border-radius: 6px; }

.completion-btn { padding: 5px 10px; border-radius: 6px; border: none; cursor: pointer; font-weight: bold; }
.completion-btn.completed { background-color: #2ecc71; color: white; }
.completion-btn.pending { background-color: #f39c12; color: white; }

.delete-btn { padding: 5px 10px; border-radius: 6px; border: none; cursor: pointer; background-color: red; color: white; margin-left: 5px; }
