
.task-card {
  background-color: #242424; 
  color: white;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(15, 3, 3, 0.4);
  transition: transform 0.2s;
  min-height: 180px;
  display: flex;
  flex-direction: column;
}

.task-card:hover {
  transform: translateY(-5px);
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task-title {
  margin: 0;
  font-size: 1.2em;
}

.completed-text {
  text-decoration: line-through;
  opacity: 0.6;
}

.priority-tag {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: bold;
}

.priority-tag.high {
  background-color:  #5f0404; 
}
.priority-tag.medium {
  background-color: #ffc300; }
.priority-tag.low {
  background-color: #13c722; 
}

.task-description {
  font-size: 0.9em;
  color: #faf4f4;
  flex-grow: 1;
}

.task-footer {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #f7eded;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  color: #faf8f8;
}

.completion-status-pill {
  padding: 3px 6px;
  border-radius: 12px;
  font-weight: bold;
}

.completion-status-pill.completed {
  background-color: #0c641f; 
  color: white;
}

.completion-status-pill.pending {
  background-color: #d32f2f; 
  color: white;
}